.navPrimary {
  padding-block: 20px;
  place-items: center;
  font: var(--text);
  line-height: 0;

  /* nesting css */
  h1 {
    font: var(--h1);
    text-transform: uppercase;
    color: #60a5fa;
  }
  a {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  a:first-child {
    justify-self: start;
  }
  a:last-child {
    justify-self: end;
  }
}

.navSecondary {
  padding-block: 20px;
  border: 1px solid var(--stroke-color);
  border-inline:none;
  justify-content: space-between;
  color: var(--text-color-secondary);
  font:var(--text-span);
}
