main{
    padding-block: 40px 80px;
}

main img{
  object-fit: cover;
  border-radius: 4px;
}

.featured {
  grid-template: 416px / 608px 592px;
}

.featured div:nth-child(2){
    place-content: center;
}