.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.card {
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    inset: 0;
    background: linear-gradient(180deg, transparent 0%, #020617 100%);
  }
}
